<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cleats Website</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <!--Unicon-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>

<body>

    <section id="header">
        <a href="#"><img src="img/Cleats.png" width="120" height="auto" class="logo" alt=""></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="index.html">Home</a></li>
                <li><a href="login_signup.html">Login/Sign-Up</a></li>
                <!-- maybe have a icon instead of login/signup-->
                <li><a href="shop.html">Shop</a></li>
                <!-- have admin login as a button (i.e. if admin click here)-->
                <li><a href="checkout.html">Checkout</a></li>
                <li><a href="basket.html"><i class="fas fa-shopping-cart"></i></a></li>
                <!-- maybe should'nt be a page but drop down menu-->
                <!-- can have checkout button also embedded as a button in cart menu. -->
                <li><a href="contact.html">Contact us</a></li>
            </ul>
        </div>
    </section>

    <section id="check">
        <div class="payment">
            <div class="payment_title">Paying method</div>
            <div class="payment_types">
                <div class="creditcard">
                    <i class="uil uil-credit-card"> Credit Card</i>
                </div>
                <div class="paypal">
                    <i class="uil uil-paypal">Paypal</i>
                </div>
            </div>
        </div>

        <div class="card_info">
            <div class="payment_title">
                <i class="uil uil-user">Personal Information</i>
            </div>
            <form>
                <div class="cc_form">
                    <div class="row">
                        <div class="field">
                            <div class="title">
                                Credit Card Number
                            </div>
                            <input type="text" class="input_txt" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="sml_field">
                            <div class="title">
                                Expiry Date
                            </div>
                            <select class="input_num">
                                <option selected>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                            <select class="input_num">
                                <option selected>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                            </select>
                        </div>
                        <div class ="sml-field">
                            <div class="title">
                                CVV Code
                            </div>
                             
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </section>
</body>

</html>