/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 60px;
    line-height: 64px;
    color: #222;
    font-weight: 800;
}

h2 {
    font-size: 40px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 35px;
    color: #222;
}

p {
    font-size: 40px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
#hero a {
    font-size: 30px;
    align-items: left;
    color: #147b62;
}
.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    margin: 0 0 24px 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0% 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #189165;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #189165;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero {
    background-image: url(img/banner1_shoe.jpg);
    z-index: 1000;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #189165;
}

#hero button {
    background-image: url(img/paintbtn.png);
    z-index: 2000;
    background-color: transparent;
    color: #189165;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;

}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
    border: 1px solid #cce7d0;
    border-radius: 8px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #189165;
    background-color: #fddde4;

}

#feature .fe-box:nth-child(2) h6 {
    background-color: #fddde4;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #fddde4;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #fddde4;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #fddde4;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fddde4;
}

#product1 {
    text-align: center;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px 10px 10px;
    border: 1px solid #cce7d4;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0px;
    transition: 0.2s ease;
    position: relative;

}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(250, 180, 30);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #189165;

}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #189165;
    border: 1px solid #cce7d0;
    bottom: 20px;
    right: 10px;

}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url() needs dark banner img;
    width: 100%;
    height: 40vh;
    background-position: center;
}

#banner h4 {
    color: black;
    font-size: 16px;
}

#banner h2 {
    color: black;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: #189165;
}

#banner button:hover {
    background-color: #189165;
    color: #fff;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url() needs dark banner img;
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;

}

sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;

}

sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;

}

#sm-banner .banner-box:hover button {
    background: #189165;
    border: 1px solid #189165;
}



#signup {
    text-align: center;
}

#signup .box,
#contactus .box {
    width: 50%;
    padding: 20px;
    border: 1px solid #cce7d4;
    border-radius: 25px;
    cursor: pointer;
    margin: auto;
    transition: 0.2s ease;

}

#signup {
    text-align: center;
}

#contactus .box,
#productbase .box {
    text-align: center;
    width: 50%;
    padding: 20px;
    border: 1px solid #cce7d4;
    border-radius: 25px;
    cursor: pointer;
    margin: auto;
    transition: 0.2s ease;

}

#about-banner .banner-box-about {
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}


#about-banner h4 {
    color: #000000;
    font-size: 40px;

}

#about-banner h2 {
    color: #189165;
    font-size: 60px;
    font-weight: 800;
}

#about-banner span {
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding-bottom: 15px;
    margin-right: 10%;
}

#about-banner details {
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-bottom: 15px;
}

#about-banner details[open] {
    padding: .5em;
}

#about-banner details[open] h3 {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

#about-banner summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}


#basket table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;

}

#basket table td:nth-child(1),
#basket table td:nth-child(2),
#basket table td:nth-child(3),
#basket table td:nth-child(4),
#basket table td:nth-child(5),
#basket table td:nth-child(6),
#orders-page table td:nth-child(1),
#orders-page table td:nth-child(2),
#orders-page table td:nth-child(3),
#orders-page table td:nth-child(4),
#orders-page table td:nth-child(5),
#orders-page table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#basket table td:nth-child(4) input,
#orders-page table td:nth-child(4) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#basket table thead {
    border: 1px solid #2b9567;
    border-left: none;
    border-right: none;
}

#basket table thead td {
    font-weight: 700;
    font-size: 13px;
    padding: 18px 0;
}

#basket table tbody tr td {
    font-weight: 500;
    font-size: 13px;
    padding-top: 15px;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 3px solid #147b62;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 2px solid #147b62;
    padding: 10px;
    font-size: 13px;
}

#subtotal h3 {
    padding-bottom: 15px;
}


#orders-page table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;

}

#orders-page table thead {
    border: 1px solid #2b9567;
    border-left: none;
    border-right: none;
}

#orders-page table thead td {
    font-weight: 700;
    font-size: 13px;
    padding: 18px 0;
}

#orders-page table tbody tr td {
    font-weight: 500;
    font-size: 13px;
    padding-top: 15px;
}

#shopbody .searching {
    text-align: center;
}

#shopbody input[type=text] {
    float: center;
    padding: 6px;
    border: 2px solid #147b62;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 800px;
}

/*styles for customer list table on admin page*/
#admin-list-customer table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;

}

#admin-list-customer table td:nth-child(1),
#admin-list-customer table td:nth-child(2),
#admin-list-customer table td:nth-child(3) {
    width: 150px;
    text-align: center;
}

#admin-list-customer table td:nth-child(3) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#admin-list-customer table thead {
    border: 1px solid #2b9567;
    border-left: none;
    border-right: none;
}

#admin-list-customer table thead td {
    font-weight: 700;
    font-size: 13px;
    padding: 18px 0;
}

#admin-list-customer table tbody tr td {
    font-weight: 500;
    font-size: 13px;
    padding-top: 15px;
}

/*styles for currently placed orders table on admin page*/
#admin-order-placed table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;

}

#admin-order-placed table td:nth-child(1),
#admin-order-placed table td:nth-child(2),
#admin-order-placed table td:nth-child(3),
#admin-order-placed table td:nth-child(4),
#admin-order-placed table td:nth-child(5),
#admin-order-placed table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#admin-order-placed table td:nth-child(3) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#admin-order-placed table thead {
    border: 1px solid #2b9567;
    border-left: none;
    border-right: none;
}

#admin-order-placed table thead td {
    font-weight: 700;
    font-size: 13px;
    padding: 18px 0;
}

#admin-order-placed table tbody tr td {
    font-weight: 500;
    font-size: 13px;
    padding-top: 15px;
}

/*styles for items in stock table on admin page*/
#admin-items-stock table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;

}

#admin-items-stock table td:nth-child(1),
#admin-items-stock table td:nth-child(2),
#admin-items-stock table td:nth-child(3) {
    width: 150px;
    text-align: center;
}

#admin-items-stock table td:nth-child(3) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#admin-items-stock table thead {
    border: 1px solid #2b9567;
    border-left: none;
    border-right: none;
}

#admin-items-stock table thead td {
    font-weight: 700;
    font-size: 13px;
    padding: 18px 0;
}

#admin-items-stock table tbody tr td {
    font-weight: 500;
    font-size: 13px;
    padding-top: 15px;
}

#shopbody .product {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d4;
    border-radius: 25px;
    margin: 15px 50px 50px 50px;
    position: relative;

}

#shopbody .pro img {
    width: 100%;
    border-radius: 20px;
}

#shopbody .row {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
    gap: 10px 2em;
    align-items: start;
}

#shopbody .product :first-child {
    align-self: center;
}

#product1 .pro-container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 60px;
    align-items: start;
}

.footer {
    margin-top: 150px;
    width: 100%;
    background-color: #e3e6f3;
    padding: 10px 200px 40px 200px;
    display: flex;
}
.footer div{
    text-align: center;

}
.col-news{
    flex-grow: 2;
    font-weight: 600;
}
.footer div h3{
font-weight: 600;
margin-bottom: 30px;
letter-spacing: 1px;
}

.col-link a{
    font-weight: 600;
    display:block;
    text-decoration: underline;
    color: #1a1a1a;
    margin-bottom: 8px;
}

.col-news form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px
}

.col-news form button{ 
    background: transparent;
    border: 2px solid #1a1a1a;
    color: #1a1a1a;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.col-contact h3{
    font-size: 20px;
}

.col-contact p{
    font-size: 20px;
    color: #1a1a1a;
}

